a {
  text-decoration: none;
  color: black;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 90px;
  font-family: "Lobster", cursive;
  border-bottom: 5px solid black;
  margin-bottom: 20px;
  font-size: 24px;
}

.logo {
  font-family: "Lobster", cursive;
  font-size: 42px;
  text-shadow: 0 3px #999;
}
.logo a {
  color: royalblue;
}
.logo:active {
  transform: translateY(2px);
  text-shadow: 0 2px #999;
}
.categories {
  display: flex;
  gap: 30px;
}
@media only screen and (max-width: 1000px) {
  .navbar {
    margin-bottom: 5px;
    height: 50px;
  }
}
@media screen and (orientation: portrait) {
  .logo {
    font-size: 24px;
  }
}
